.card {
  height: 400px;
  width: 60%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 2re 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.userImage,
.userDetails {
  flex-basis: 45%;
}
.userDetails h2 {
  margin: 1rem 0;
  font-size: 2rem;
  color: rgb(241, 0, 0);
  font-weight: 400;
}
.userDetails p{
    font-size: 1.2rem;
    color: rgb(98, 110, 110);
}
.userImage{
    padding-left: 3rem;
}
.searchContainer{
    margin-top: 30%;
}
.data{
  margin-top: 25%;
}
.delete-btn{
  padding:.5rem 1rem  ;
  font-size: 1rem;
}
.text{
  margin: 2rem 0;
}