.universalLog{
    background-color: rgb(140, 167, 189);
    color: #fff;
    height: 500px;
    width: 450px;
    padding: 2rem;
    border-radius: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logUni{
    background-color: rgb(185, 221, 199);
    color: #000;
    padding: .5rem 2rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    margin: 2rem 0;
    width: 350px;
    border: .2px solid rgb(0, 0, 0);
    cursor: pointer;
}
.logUni:hover{
    background-color: aliceblue;
}
.cardloginName{
    background-color: rgb(157, 196, 235);
    font-weight: 600;
}